extends layout

block content
  h2 About Firetools
  p FireTools is a cloud-based GIS processing platform for prescribed burn planning.  Users upload datapacks of GIS data representing fire history, vegetation type and fuel management zones, and FireTools will process the inputs to produce maps of vegetation fire intervals, indicating areas that are too frequently burnt, close to threshold, or long unburnt, to assist in planning hazard reduction burning programs.
  p The FireTools GIS processing engine is built on R and GDAL and launches jobs for parallel processing on virtual servers, returning the resulting maps and GIS output files for download and analysis.  FireTools was developed by the NSW Bushfire Risk Management Research Hub.
  p
    | Documentation for FireTools Cloud can be downloaded by clicking 
    a(href="/images/FireToolsCloud_doc_2021_mar.pdf") this link
    |.
  p For more information on FireTools or to obtain access, please email Grant Williamson (grant.williamson@utas.edu.au).
  img(src="/images/ca_02_heritage.png")
  p Example FireTools heritage threshold output
  img(src="/images/ca_04_combined.png")
  p Example FireTools combined heritage and fire management zone output.
  img(src="/images/list_contents.png")
  p Example file list of GIS datapack contents, as uploaded to FireTools.

