extends layout

block content

  .container
    .row
      .col-lg-2
        include admin_menu.pug
      .col-lg-10
        h2 Add new fire hub user.
        form.was-validated(method='POST',action = 'do_add_user',id='identicalForm')
          div.form-group
            label(for="i_name") User name:
            input.form-control(name="name",id="i_name")
          div.form-group
            label(for="i_email") Email address:
            input.form-control(name="email",id="i_email")
          div.form-group
            label(for="i_phone") Mobile Phone Number:
            input.form-control(name="phone",id="i_phone")
          div.form-group
            label(for="i_pass1") Password:
            input.form-control(name="password",id="i_pass1",type="password")
            label(for="i_pass2") Reenter Password:
            input.form-control(name='confirmPassword',id='i_pass2',type="password", oninput="check(this)")
          div.form-group
            label(for="i_admin") Admin user: <input class="form-control", type='checkbox', name='admin',id="i_admin" />
          div.form-group
            button.btn.btn-primary(type='submit') Add User
