extends layout

block content
  .container
    .row
      .col-lg-2
        include ft_menu.pug
      .col-lg-10
        p Welcome to the FireTools cloud interface.  Using this interface you can upload source GIS files, select regions for analysis, submit fire tools analysis jobs, and view the results of previous jobs.
        p In order to use these tools, please log in

