// Nav menu bar
div.list-group
  a.list-group-item(href="/firetools/upload_dp") Upload Datapack
  a.list-group-item(href="/firetools/list_dp") List Datapacks and Launch Analysis
  a.list-group-item(href="/firetools/list_an") View Analyses
