// Nav menu bar
div.list-group
  a.list-group-item(href="/firetools/upload_dp") Upload Datapack
  a.list-group-item(href="/firetools/list_dp") List Datapacks
  a.list-group-item(href="/firetools/start_an") Start Analysis
  a.list-group-item(href="/firetools/view_an") View Analyses
