// Nav menu bar
div.list-group
  a.list-group-item(href="upload_dp") Upload Datapack
  a.list-group-item(href="edit_dp") Edit Datapack
  a.list-group-item(href="start_an") Start Analysis
  a.list-group-item(href="view_an") View Analyses
