extends layout

block content
  h3 Fire Tools - NSW Bushfire Risk Management Research Hub 
  p This website currently hosts the #[em FireTools] application. Click visit the #[a(href="about") About] page to learn more.  There are also beta versions of the #[a(href="/fmc") Fuel Moisture Trend] and #[a(href="/dfmc") Dry Fuel Moisture Content] mapping tools available.
  img(src="/images/ca_02_heritage.png")
  p Example FireTools heritage threshold output
