extends layout

block content
  h2 Welcome to #{title}
  p This website currently hosts the #[em FireTools] application. Click visit the #[a(href="about") About] page to learn more.
  img(src="/images/ca_02_heritage.png")
  p Example FireTools heritage threshold output
