extends layout

block content
  .container
    .row
      .col-lg-2
        include ft_menu.pug
      .col-lg-10
        p File upload complete. Created object #{o_filename} of size #{o_size}.
        p The datapack is currently being processed, it should appear in the list of datapacks within 1 minute.
            

